.custom-progress-bar
  display: flex
  flex-direction: column
  position: relative
  left: 20px

  .react-sweet-progress-line-inner
    border-radius: 0

  .react-sweet-progress-line
    border-radius: 0

  .title
    display: flex
    justify-content: space-between
    margin-bottom: 15px

    span
      font-family: Montserrat, sans-serif
      font-weight: 400
      font-size: 24px

    span.success
      color: #007D3C
      font-weight: 700

    span.middle
      color: #FF862C
      font-weight: 500

    span.error
      color: #D40017
      font-weight: 400
