@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900')

.infographic
  height: 100vh
  width: 100vw
  //background-image: linear-gradient(to bottom right, #FAFBFF, #E0E3E8)
  display: flex
  flex-direction: column

  &::after
    content: ""
    background: url("/images/football-bg.jpg")
    opacity: 0.1
    top: -50%
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1
    background-size: cover


  article
    display: flex
    justify-content: space-between

  .title
    width: calc(100% - 50px)
    text-align: right

    h1
      font-family: Montserrat, sans-serif
      font-size: 40px
      font-weight: 400

      span:first-child
        font-weight: 700
        color: #F2463C

      span#fifa-logo
        font-weight: 700

  .body
    margin-left: 50px
    width: 766px

    .box
      display: flex
      align-items: center
      position: relative
      height: 150px

      .number-line
        .number
          display: flex
          flex-direction: column

          p
            margin: 0
            font-family: Montserrat, sans-serif

          p:first-child
            font-weight: 400
            font-size: 26px
            color: #642C46

          p:last-child
            font-weight: 500
            font-size: 16px
            margin-top: 3px

        .line
          display: flex
          align-items: center
          flex-direction: row-reverse

          span:first-child
            display: block
            width: 13px
            border-radius: 100%
            height: 13px

          span:last-child
            display: block
            height: 2px
            width: 250px


      .desc
        p
          margin: 6px 0 0
          font-family: Lato, sans-serif
          font-size: 11px
          font-weight: 500
          width: 200px

      .square
        width: 90px
        height: 90px
        border-radius: 4px
        transform: rotate(45deg)
        position: relative
        left: 35px
        top: -10px
        display: flex
        align-items: center
        justify-content: center

        img
          height: 55px
          top: -5px
          left: -5px
          position: relative
          transform: rotate(-45deg)
          cursor: pointer

    .box.right
      flex-direction: row-reverse

      .player-name
        display: flex
        flex-direction: column
        align-items: flex-end

        .number-line
          .number
            align-items: flex-end

          .line
            flex-direction: row

        .desc
          text-align: right

      .square
        left: -38px

  #kross
    .player-name
      position: relative
      top: -21px

    .number-line
      .line
        span
          background: #642C46

      .number
        p:first-child
          color: #642C46

    .square
      background-image: linear-gradient(to bottom right, #977687, #642C46)
      border: 4px solid #aa91a1

  #gea
    top: -79px

    .player-name
      position: relative
      top: -14px

    .number-line
      .line
        span
          background: #963962

      .number
        p:first-child
          color: #963962

    .square
      background-image: linear-gradient(to bottom right, #C389A0, #963962)
      border: 4px solid #F0D3E0

  #suarez
    top: -160px

    .player-name
      position: relative
      top: -14px

    .number-line
      .line
        span
          background: #B73F5F

      .number
        p:first-child
          color: #B73F5F

    .square
      background-image: linear-gradient(to bottom right, #E59DB1, #B73F5F)
      border: 4px solid #FDE7ED

  #ramos
    top: -240px

    .player-name
      position: relative
      top: -12px

    .number-line
      .line
        span
          background: #D4394E

      .number
        p:first-child
          color: #D4394E

    .square
      background-image: linear-gradient(to bottom right, #F6A0AE, #D4394E)
      border: 4px solid #FFD1D8

  #hazard
    top: -320px

    .player-name
      position: relative
      top: -8px

    .number-line
      .line
        span
          background: #F53E45

      .number
        p:first-child
          color: #F53E45

    .square
      background-image: linear-gradient(to bottom right, #E67564, #F53E45)
      border: 4px solid #E49097

  #bruyne
    top: -400px

    .player-name
      position: relative
      top: -14px

    .number-line
      .line
        span
          background: #F53E45

      .number
        p:first-child
          color: #F53E45

    .square
      background-image: linear-gradient(to bottom right, #F69B8E, #F53E45)
      border: 4px solid #FFD6CC

  #modirc
    top: -480px

    .player-name
      position: relative
      top: -14px

    .number-line
      .line
        span
          background: #FF6241

      .number
        p:first-child
          color: #FF6241

    .square
      background-image: linear-gradient(to bottom right, #FC9679, #FF6241)
      border: 4px solid #EAB5A2

  #neymar
    top: -560px

    .player-name
      position: relative
      top: -14px

    .number-line
      .line
        span
          background: #FB9B30

      .number
        p:first-child
          color: #FB9B30

    .square
      background-image: linear-gradient(to bottom right, #FFB65D, #FB9B30)
      border: 4px solid #FFD2AC

  #messi
    top: -640px

    .player-name
      position: relative
      top: -14px

    .number-line
      .line
        span
          background: #e98e2d

      .number
        p:first-child
          color: #e98e2d

    .square
      background-image: linear-gradient(to bottom right, #F5B23D, #e98e2d)
      border: 4px solid #FFD2AC

  #ronaldo
    top: -720px

    .player-name
      position: relative
      top: -14px

    .number-line
      .line
        span
          background: #FD732A

      .number
        p:first-child
          color: #FD732A

    .square
      background-image: linear-gradient(to bottom right, #FF9330, #FD732A)
      border: 4px solid #FFD2AC


