.currency-player
  padding-right: 50px
  width: 850px

  .skills
    width:
    display: flex
    flex-wrap: wrap

  .custom-progress-bar
    position: relative
    top: -90px
    min-width: 350px
    height: 100px

  .header
    display: flex

    h2
      font-family: Montserrat, sans-serif
      font-weight: 700
      font-size: 50px
      margin-bottom: 20px
      margin-right: 45px
      width: 600px
      text-align: right

    img
      height: 320px

  .general
    height: 150px
    width: 580px
    background: #1B59E1
    border-radius: 5px
    position: relative
    top: -200px
    left: 20px
    padding: 15px 40px
    box-sizing: border-box

    .row
      display: flex
      justify-content: space-between

      .cell
        display: flex
        justify-content: space-between
        width: 230px
        font-family: Montserrat, sans-serif
        font-weight: 500
        font-size: 14px
        border-bottom: 2px solid #184DBF
        padding: 0 5px
        height: 24px

      .cell
        color: #9DBBF2

      .cell
        div:last-child
          color: #fff
          font-weight: 700

    .row + .row
      margin-top: 18px

